.sidebar{
  position: fixed;
  width: 100px;
  background: #fff;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  box-shadow: 5px 0 10px rgba(212, 210, 210, 0.5);
  padding-top: 2rem;
}

.menu{
  margin-bottom: 2.5rem;
}

.logo{
  position: absolute;
  bottom: 3rem;
  background: #1D4ED8;
  border-radius: 50%;
  padding: 0.5rem;
  padding-top: 0.9rem;
}

@media (max-width: 768px){
  .sidebar{
    display: none;
  }
}